body {
  font-family: 'Courier New', Courier, monospace;
  background: #002626;
  color: #222;
  padding: 2rem;
}

main {
  background-color: #002626;
  max-width: 600px;
  margin: auto;
  border-radius: 2%;
}

h1 {
  text-align: center;
}

h1 a:link, a:visited, a:active {
  color: #ffff;
  text-decoration: none;
}

a:hover {
  color: #5DA271;
}

p {
  font-size: 12px;
  background-color: #E5D4CE;
}

#top {
  display: flex;
  align-items: left;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: left;
}

h1 {
  text-align: left;
  margin: 0;
}

#headSub {
  margin-top: 0rem;
  color: white;
  size: 12px;
  align-items: left;
}

.portrait img {
  display: block;
  border-radius: 4px;
}

#top ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0rem 0rem 0rem;
}

#top li {
  display: inline;
  padding: 0.25rem;
}

#top li a, li a:link, li a:visited, li a:active {
  display: inline-block;
  background-color: #002626;
  border: 1px solid #E5D4CE;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

#top li a:hover {
  color: #5DA271;
}

#container {
  background-color: #F8F8F8;
  border-radius: 2%;
  padding: 2%;
  border: 2px solid #002626;
}

h3 {
  text-align: left;
  margin-top: 1.5rem;
}

#container a {
  text-decoration: none;
  color: green;
}

pre {
  white-space: pre-wrap;
  font-size: 1rem;
  line-height: 1.5;
}

#choices {
  text-align: center;
}

#navigation {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#navigation button {
  flex: 1;
}

button {
  background-color: #E5D4CE;
  border: 1px solid #7A6563;
  border-radius: 6px;
  margin: 0.25rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.6rem;
  cursor: pointer;
}

